* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #333d51;
  --second-color: #f3edd9;
  --third-color: #cbd0d8;
  --four-color: #f4f3ea;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--second-color);
}

.navbar {
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  background-color: var(--first-color);
  position: relative;
}

.navbar .nav-header {
  display: inline;
}

.navbar .nav-header .nav-logo {
  display: inline-block;
  margin-top: -14px;
  margin-left: -25px;
}

.navbar .nav-header .nav-logo .logo {
  width: 130px;
}

.navbar .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navbar .nav-links .loginButton {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 6px;
  color: var(--first-color);
  background-color: var(--four-color);
  border: none;
  font-size: 17px;
}

.navbar .nav-links a {
  padding: 10px 12px;
  text-decoration: none;
  color: var(--four-color);
  font-weight: 200;
  font-size: 13px;
}

.navbar .nav-links a:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 5px;
}

/*Responsive Navbar button*/
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

@media (max-width: 690px) {
  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }

  .navbar .nav-btn label span {
    display: block;
    height: 7px;
    width: 20px;
    border-top: 2px solid var(--four-color);
  }

  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    background-color: var(--first-color);
  }

  .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: var(--first-color);
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }

  .navbar .nav-links a {
    display: block;
  }

  /*when button not checked handle toggle*/
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  /*when button is checked handle toggle*/
  .navbar #nav-check:checked ~ .nav-links {
    height: 300px;
    overflow-y: auto;
    z-index: 2;
  }

  .navbar .nav-links .loginButton {
    margin: 50px 0px 0px 0px;
    font-size: smaller;
    border-radius: 10px;
  }
}

/*Body of Page CSS*/
.body {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.body .body-content-1,
.body .body-content-2 {
  display: flex;
  width: 100%;
  height: 350px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.body .body-content-2 {
  border-radius: 100px;
}

.body .body-content-1 .body-text,
.body .body-content-2 .body-text {
  position: relative;
  width: 50%;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.body .body-content-1 .body-text p,
.body .body-content-2 .body-text p {
  font-size: 1.2em;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.2em;
  text-align: start;
}

.body .body-content-1 .body-text p strong {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

.body .body-content-1 .body-image,
.body .body-content-2 .body-image {
  margin-left: 40px;
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.body .body-content-1 .body-image img,
.body .body-content-2 .body-image img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.body .body-content-1 {
  background-color: var(--second-color);
}

.body .body-content-2 {
  background-color: var(--first-color);
}

.body .body-content-1 .body-text p {
  color: var(--first-color);
}

.body .body-content-2 .body-text p {
  color: var(--second-color);
}

.body .body-content-1 .body-image img {
  border: 4px solid var(--first-color);
}

.body .body-content-2 .body-image img {
  border: 4px solid var(--second-color);
}

/*Body section 1 & 2 Screen Sizing*/
@media (max-width: 600px) {
  .body .body-content-1,
  .body .body-content-2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
  }

  .body .body-content-1 .body-text,
  .body .body-content-2 .body-text {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .body .body-content-1 .body-text p,
  .body .body-content-2 .body-text p {
    font-size: 0.7em;
    font-weight: 200;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 20px;
  }

  .body .body-content-1 .body-text p strong {
    font-size: 2em;
  }

  .body .body-content-1 .body-image,
  .body .body-content-2 .body-image {
    margin: 0px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .body .body-content-1 .body-image img,
  .body .body-content-2 .body-image img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 200px;
  }

  .body .body-content-1 {
    background-color: var(--second-color);
  }

  .body .body-content-2 {
    background-color: var(--first-color);
  }

  .body .body-content-1 .body-text p {
    color: var(--first-color);
  }

  .body .body-content-2 .body-text p {
    color: var(--second-color);
  }

  .body .body-content-1 .body-image img {
    border: 2px solid var(--first-color);
  }

  .body .body-content-2 .body-image img {
    border: 2px solid var(--second-color);
  }
}

/*Body Product Section Styling*/

.body-content-3 {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.body-content-3 .body-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.body-content-3 .body-title h2 {
  background-color: var(--first-color);
  padding: 20px;
  border-radius: 30px;
  color: var(--second-color);
}

.body-content-3 .body-products {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.body-content-3 .body-products .body-Image-title {
  width: 25%;
  margin: 10px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
}

.body-content-3 .body-products .body-Image-title img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.body-content-3 .body-products .body-Image-title h3 {
  margin-top: 30px;
  font-size: 1em;
  color: var(--second-color);
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.body-content-3 .body-products .body-Image-title p {
  width: 150px;
  height: 100px;
  padding: 15px;
  margin-top: 10px;
  font-size: 0.7em;
  line-height: 1em;
  border-radius: 30px;
  background-color: var(--third-color);
  color: var(--second-color);
  font-weight: 500;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Screen sizing for products section*/

@media (max-width: 650px) {
  .body-content-3 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
  }

  .body-content-3 .body-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .body-content-3 .body-title h2 {
    background-color: var(--first-color);
    padding: 20px;
    border-radius: 30px;
    font-size: small;
    color: var(--second-color);
  }

  .body-content-3 .body-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .body-content-3 .body-products .body-Image-title {
    width: 50%;
    margin: 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
  }

  .body-content-3 .body-products .body-Image-title p {
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    line-height: 1em;
    border-radius: 30px;
    font-weight: 500;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
